#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [10]:
import pandas as pd
import numpy as np

# Seu código aqui

tempBase = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.4, 1.02]
pd.Series(data=tempBase)

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [11]:
# seu código aqui
indice = [1900, 1920, 1940, 1960, 1980, 2000, 2020]
dataNasaIndice = pd.Series(data=tempBase, index=indice)
dataNasaIndice

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [13]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui

nasaBase = pd.DataFrame({'Anomalia térmica' : dic_temperaturas})
nasaBase

      Anomalia térmica
1900             -0.08
1920             -0.27
1940              0.12
1960             -0.03
1980              0.26
2000              0.40
2020              1.02

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [87]:
top_ix = 20 # Adicionei essa linha para criar a possibilidade de dataframes com número de linhas diferentes

arr = np.random.normal(100, 10, (top_ix,3))
# seu código aqui

array_serie = pd.DataFrame(arr)
array_serie

             0           1           2
0   114.461591   96.227290   94.459210
1   100.682671  111.865080   96.481344
2   109.798184  111.553075   92.970432
3    94.045832  102.540494   97.146513
4    95.765905   95.875812  102.891139
5   100.764682   97.159799   99.437848
6   103.418931  109.082094  108.928944
7   107.462176  104.315048  118.396120
8    97.647270   88.586750  111.157328
9    80.015353  102.491103   99.641606
10   95.755335   91.310148  112.512352
11  100.139158   91.355339  103.127966
12  106.972383  103.416139   89.917559
13  116.965616  106.949858   94.838586
14  109.006603  108.834077   87.497832
15  102.627215  100.267785   97.668319
16  111.632635   87.848847   99.660588
17   99.683298   95.004942  102.789718
18  108.823779   90.527580   97.081808
19  119.764656  103.113394   98.153451

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [88]:
#seu código aqui

list_1= []
for i in range (1, top_ix + 1):
    list_1.append(i)

array_serie = pd.DataFrame(arr, index=list_1, columns = ['x1', 'x2', 'x3'])
array_serie

            x1          x2          x3
1   114.461591   96.227290   94.459210
2   100.682671  111.865080   96.481344
3   109.798184  111.553075   92.970432
4    94.045832  102.540494   97.146513
5    95.765905   95.875812  102.891139
6   100.764682   97.159799   99.437848
7   103.418931  109.082094  108.928944
8   107.462176  104.315048  118.396120
9    97.647270   88.586750  111.157328
10   80.015353  102.491103   99.641606
11   95.755335   91.310148  112.512352
12  100.139158   91.355339  103.127966
13  106.972383  103.416139   89.917559
14  116.965616  106.949858   94.838586
15  109.006603  108.834077   87.497832
16  102.627215  100.267785   97.668319
17  111.632635   87.848847   99.660588
18   99.683298   95.004942  102.789718
19  108.823779   90.527580   97.081808
20  119.764656  103.113394   98.153451

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [89]:
# seu código aqui

array_serie ['med'] = (array_serie ['x1'] + array_serie ['x2'] + array_serie ['x3']) / 3
array_serie

            x1          x2          x3         med
1   114.461591   96.227290   94.459210  101.716030
2   100.682671  111.865080   96.481344  103.009698
3   109.798184  111.553075   92.970432  104.773897
4    94.045832  102.540494   97.146513   97.910946
5    95.765905   95.875812  102.891139   98.177619
6   100.764682   97.159799   99.437848   99.120777
7   103.418931  109.082094  108.928944  107.143323
8   107.462176  104.315048  118.396120  110.057781
9    97.647270   88.586750  111.157328   99.130450
10   80.015353  102.491103   99.641606   94.049354
11   95.755335   91.310148  112.512352   99.859278
12  100.139158   91.355339  103.127966   98.207488
13  106.972383  103.416139   89.917559  100.102027
14  116.965616  106.949858   94.838586  106.251353
15  109.006603  108.834077   87.497832  101.779504
16  102.627215  100.267785   97.668319  100.187773
17  111.632635   87.848847   99.660588   99.714023
18   99.683298   95.004942  102.789718   99.159319
19  108.823779   90.527580   97.081808   98.811056
20  119.764656  103.113394   98.153451  107.010500

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [90]:
# seu código aqui

import math  #math.log(array_serie.iloc[19,3])

list_2= []
for i in range (0, top_ix):
    
    collog = math.log(array_serie.iloc[i,3])
    
    list_2.append(collog)

array_serie ['log_med'] = list_2

array_serie

            x1          x2          x3         med   log_med
1   114.461591   96.227290   94.459210  101.716030  4.622185
2   100.682671  111.865080   96.481344  103.009698  4.634823
3   109.798184  111.553075   92.970432  104.773897  4.651805
4    94.045832  102.540494   97.146513   97.910946  4.584058
5    95.765905   95.875812  102.891139   98.177619  4.586778
6   100.764682   97.159799   99.437848   99.120777  4.596339
7   103.418931  109.082094  108.928944  107.143323  4.674167
8   107.462176  104.315048  118.396120  110.057781  4.701006
9    97.647270   88.586750  111.157328   99.130450  4.596437
10   80.015353  102.491103   99.641606   94.049354  4.543820
11   95.755335   91.310148  112.512352   99.859278  4.603762
12  100.139158   91.355339  103.127966   98.207488  4.587082
13  106.972383  103.416139   89.917559  100.102027  4.606190
14  116.965616  106.949858   94.838586  106.251353  4.665808
15  109.006603  108.834077   87.497832  101.779504  4.622809
16  102.627215  100.267785   97.668319  100.187773  4.607046
17  111.632635   87.848847   99.660588   99.714023  4.602306
18   99.683298   95.004942  102.789718   99.159319  4.596728
19  108.823779   90.527580   97.081808   98.811056  4.593209
20  119.764656  103.113394   98.153451  107.010500  4.672927